{% extends "base.html.j2" %}
{% block title %}הדף לא נמצא | {{ site.name }}{% endblock %}
{% block content %}
<section class="read">
<h1>הדף לא נמצא</h1>
<p>ייתכן שהכתובת השתנתה. <a href="{{ root }}">לדף הבית</a></p>
</section>
{% endblock %}
